
@{
    ViewBag.Title = "Bio";
}

<h2>Bio</h2>
<fieldset>
    <legend>Basic Information:</legend>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td><b>Name </b></td>
                <td>Nayamet Ullah</td>
            </tr>
            <tr>
                <td><b>Father Name </b></td>
                <td>Anayet Ullah</td>
            </tr>
            <tr>
                <td><b>Mother Name </b></td>
                <td>Afsana Akter</td>
            </tr>
            <tr>
                <td><b>Gender </b></td>
                <td>Male</td>
            </tr>
            <tr>
                <td><b>Date of Birth </b></td>
                <td>17-Feb-2000</td>
            </tr>
            <tr>
                <td><b>Religion </b></td>
                <td>Islam</td>
            </tr>

        </tbody>
    </table>

</fieldset>
<br>
<fieldset>
    <legend>Contact Information:</legend>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td><b>Present Address</b></td>
                <td>Chowrasta,gazipur,Dhaka</td>
            </tr>
            <tr>
                <td><b>Parmanent Address </b></td>
                <td>Motlob Uttar,Chandpur</td>
            </tr>
            <tr>
                <td><b>Phon </b></td>
                <td>01990526101</td>
            </tr>
            <tr>
                <td><b>Email </b></td>
                <td>nayametullah@gmail.com</td>
            </tr>
            
        </tbody>
    </table>
</fieldset>
