
@{
    ViewBag.Title = "Education";
}

<h2>Educational Qualification :</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name of Examination</th>
            <th>Institution</th>
            <th>Board</th>
            <th>Year</th>
            <th>Result(scale)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>HSC</td>
            <td>Ideal College</td>
            <td>Dhaka</td>
            <td>2018</td>
            <td>4.00(5.00)</td>
        </tr>
        <tr>
            <td>SSC</td>
            <td>Charkalia High School</td>
            <td>Cumilla</td>
            <td>2016</td>
            <td>4.94(5.00)</td>
        </tr>
    </tbody>
</table>

