
@{
    ViewBag.Title = "Projects";
}

<h2>Project Lists :</h2>
<ul style="list-style-type:disc;">
    <li>
        <span><b>Banking Management System</b></span>
        <br><span><a href="https://github.com/Nayamet/Banking-management-system">https://github.com/Nayamet/Banking-management-system</a></span>
    </li>
    <li>
        <span><b>Marketing Management System</b></span>
        <br><span><a href="https://github.com/Nayamet/Marketing-management">https://github.com/Nayamet/Marketing-management</a></span>
    </li>
    <li>
        <span><b>School Management System</b></span>
        <br><span><a href="https://github.com/Nayamet/School-management-system">https://github.com/Nayamet/School-management-system</a></span>
    </li>
    <li>
        <span><b>Hospital Management System</b></span>
        <br><span><a href="https://github.com/Nayamet/Hospital-Management-System">https://github.com/Nayamet/Hospital-Management-System</a></span>
    </li>
    <li>
        <span><b>DX Ball Game</b></span>
        <br><span><a href="https://github.com/Nayamet/Dx-Ball-Game">https://github.com/Nayamet/Dx-Ball-Game</a></span>
    </li>

</ul>

