
@{
    ViewBag.Title = "References";
}

<h2>References :</h2>
<table class="table table-bordered">
    
    <tbody>
        <tr>
            
            <td><b>TANVIR AHMED</b></td>
            <td><b>DR. MD. RAZIB HAYAT KHAN</b></td>
            
        </tr>
        <tr>
            <td>Lecturer,Deparment of Computer Science</td>
            <td>Assistant Professor,Deparment of Computer Science</td>
        </tr>
        <tr>
            <td>
                American International UniversityBangladesh
            </td>
            <td>
                American International UniversityBangladesh
            </td>
        </tr>
        <tr>
            <td><b>Email:</b>tanvir.ahmed@aiub.edu</td>
            <td><b>Email:</b>razib.khan@aiub.edu</td>
        </tr>
    </tbody>
</table>

